header
  #prefix.shadowed.split.upper
    a.special(href="/")="Enterprise JavaScript"
    =" Is:"
  #refresh.split
    a(href="/")="Refresh"
#message.shadowed.upper!=tip.message
- if (tip.example)
  pre#example!=tip.example
footer
  p#author.split="Submitted by: "
    a.special(href="http://twitter.com/#/" + tip.author)=tip.author 
  p#permalink.split
    a(href="/" + index)="Permalink"
